# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

squeakr-count

squeakr-inner-prod

squeakr-query

*.freq

*.ser

cqf_test

ERR1050075_1\.fastq

*.gcda

*.gcno
